<!doctype html>
<html>
  <head>
     <title>My 1st App</title>
   </head>
   <body>

    <h1>hello!!</h1>
    

    <h1>Members</h1>
    <a href="details.html">Details</a>

    <h3>hello user</h3>
    {% comment %} <p>1.<a href="Vishwadeep%20kapoor.html">Vishwadeep</a>
      <br>2.<a href="Deepa%20Kapoor.html">Deepa</a>
       <br>3.<a href="Vinay%20Kapoor.html">Vinay</a> {% endcomment %}

        <br> 1.1.<a href="details?key=vishwadeep">Vishwadeep</a>
        <br>1.2.<a href="details?key=Deepa">Deepa</a>
        <br>1.3.<a href="details?key=vinay">Vinay</a>
    </p>
  </body>
</html>